extends layout

block head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
  style.
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      margin-bottom: 4rem;
    }
    @media (min-width: 1800px) {
      .container {
          max-width: 1500px;
      }
    }
    @media (min-width: 2400px) {
      .container {
          max-width: 1800px;
      }
    }
    .display-3 {
      font-size: 5.5rem;
    }
    textarea, textarea:required, textarea:invalid {
      font-family: monospace, serif;
      line-height: 1.5em;
      box-shadow: none;
    }
    footer {
      width: 100%;
      height: 2.5rem;
      position: absolute;
      bottom: 0;
      line-height: 2rem;
    }
block content
  main.container.m-t-3.m-x-6
    h1.display-3.m-b-3 #{title}

    a(href='https://github.com/JoeBiellik/paste')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt='Fork me on GitHub')

    form(action='/?redirect', method='POST', accept-charset='UTF-8')
      fieldset.form-group
        textarea.form-control(name='paste', rows='10', required, autofocus)

      select#highlight.custom-select.select-lg.m-t-2.m-r-2(name='highlight')
        option(value='', selected) Choose syntax highlighting
        each val, key in highlights
          option(value=key) #{val}

      select#expire.custom-select.select-lg.m-t-2(name='expire')
        option(value='', selected) Choose expiry
        each val, key in expires
          option(value=key) #{val}

      button.btn.btn-primary.btn-lg.m-t-2.m-l-2.pull-md-right(type='submit') Upload

  footer.hidden-sm-down
    pre.text-md-center.text-muted.m-b-0.
      echo 'Hello World' | curl -F 'paste=&lt;-' #{url}

  script(src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.18/autosize.min.js' integrity='sha256-BnEqLjcr1FPis5CS7xHGpAo7ZmbYrokk0j6/Srd0Rus=', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='/main.js')
